<h1>Help</h1>
<div class="text">
<p>
 Type in your address and maximum distance you would like to travel.
 After clicking 'Find clubs', the clubs in our database that are within the
  given distance are displayed on the map.  By clicking the markers on the map,
	an infowindow is displayed. You can go to the club page by clicking the link on the infowindow.
</p>
</div>